/*===========================================================================================
	BODY
===========================================================================================*/
.wrapper {
	width: 100%;
	float: left;
}
.page {
	width: 100%;
	float: left;
}